<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swapnesh.triviaapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/appicono"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/appicono"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SummeryActivity"
            android:theme="@style/AppThemeNoActionBar"></activity>
        <activity
            android:name=".HistoryActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".Question2Activity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".QuestiononeActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppThemeNoActionBar" />
    </application>

</manifest>